<div class="container-fluid bg-dark bg-gradient d-flex align-items-center justify-content-center mb-5" style="min-height: 100px;">
    <div class="container-lg d-flex align-items-center justify-content-center row py-3 row-gap-3">
        <div class="col-12 col-md-6 col-lg-4">
            <input class="form-control" type="text" placeholder="Search a deal" aria-label="search item">
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <select class="form-select" aria-label=".form-select-lg example">
                <option selected>Select your category</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-12 col-md-6 col-lg-2">
            <input class="form-control" type="text" placeholder="City" aria-label="search city">
        </div>
        <div class="col-12 col-md-6 col-lg-auto">
            <button type="button" class="btn btn-primary w-100"><i class="bi bi-search"></i>&nbsp;&nbsp;Search</button>
        </div>
    </div>
</div>
<div id="banner" class="container-lg text-light d-flex flex-column align-items-center justify-content-center rounded rounded-4 mt-4">
    <p class="fw-bold hero-title">BUY AND SELL PHILIPPINES</p>
    <p class="hero-slogan">A better way to buy and sell locally</p>
    <a href="#featured-categories" class="btn btn-primary btn-lg rounded-pill">Explore</a>
</div>
<div id="featured-categories" class="container-lg p-0 mt-5">
    <h2 class="mb-3">Featured Categories</h2>
    <div class="container-fluid d-flex flex-wrap p-0 gap-3">
        <div class="category-card rounded rounded-4 bg-dark"></div>
        <div class="category-card rounded rounded-4 bg-dark"></div>
        <div class="category-card rounded rounded-4 bg-dark"></div>
        <div class="category-card rounded rounded-4 bg-dark"></div>
        <div class="category-card rounded rounded-4 bg-dark"></div>
    </div>
</div>
<div id="featured-categories" class="container-lg p-0 mt-5">
    <h2 class="mb-3">Featured Categories</h2>
    <div class="container-fluid d-flex flex-wrap p-0 gap-3">
        <div class="category-card rounded rounded-4 bg-dark"></div>
        <div class="category-card rounded rounded-4 bg-dark"></div>
        <div class="category-card rounded rounded-4 bg-dark"></div>
        <div class="category-card rounded rounded-4 bg-dark"></div>
        <div class="category-card rounded rounded-4 bg-dark"></div>
    </div>
</div>