<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExample">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExample">All Categories</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Search Categories...">
        </div>
        <div class="accordion accordion-flush mt-3" id="accordionFlushExample">
            <div class="accordion-item">
                <div class="input-group w-100">
                    <div class="navbar-nav col position-relative category-menu">
                        <div class="nav-item h-100 d-flex align-items-center">
                            <a class="nav-link ps-3 stretched-link" href="">Mobile Phones & Gadgets</a>
                        </div>
                    </div>
                    <h2 class="accordion-header col-auto" id="flush-headingOne">
                        <button class="accordion-button collapsed category-menu cat-btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" id="test">
                        </button>
                    </h2>
                </div>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body p-0 ps-3 pb-1 pt-1">
                        <div class="navbar-nav col">
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Mobile Phones</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Tablets</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Wearables & Smart Watches</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Mobile & Gadget Accessories</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Electronic Cigarettes</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Other Gadgets</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="input-group w-100">
                    <div class="navbar-nav col position-relative category-menu">
                        <div class="nav-item h-100 d-flex align-items-center">
                            <a class="nav-link ps-3 stretched-link" href="">Computers & Tech</a>
                        </div>
                    </div>
                    <h2 class="accordion-header col-auto" id="flush-headingTwo">
                        <button class="accordion-button collapsed category-menu cat-btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        </button>
                    </h2>
                </div>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body p-0 ps-3 pb-1 pt-1">
                        <div class="navbar-nav col">
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Desktops</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Laptops & Notebooks</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Parts & Accessories</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Printers, Scanners & Copiers</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Office & Business Technology</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="input-group w-100">
                    <div class="navbar-nav col position-relative category-menu">
                        <div class="nav-item h-100 d-flex align-items-center">
                            <a class="nav-link ps-3 stretched-link" href="">Men's Fashion</a>
                        </div>
                    </div>
                    <h2 class="accordion-header col-auto" id="flush-headingThree">
                        <button class="accordion-button collapsed category-menu cat-btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        </button>
                    </h2>
                </div>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body p-0 ps-3 pb-1 pt-1">
                        <div class="navbar-nav col">
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Activewear</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Tops & Sets</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Bottoms</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Footwear</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Coats, Jackets and Outerwear</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Bags</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Watches & Accessories</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="input-group w-100">
                    <div class="navbar-nav col position-relative category-menu">
                        <div class="nav-item h-100 d-flex align-items-center">
                            <a class="nav-link ps-3 stretched-link" href="">Women's Fashion</a>
                        </div>
                    </div>
                    <h2 class="accordion-header col-auto" id="flush-headingFour">
                        <button class="accordion-button collapsed category-menu cat-btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        </button>
                    </h2>
                </div>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body p-0 ps-3 pb-1 pt-1">
                        <div class="navbar-nav col">
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Activewear</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Tops</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Bottoms</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Dresses & Sets</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Footwear</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Coats, Jackets and Outerwear</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Bags & Wallets</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Swimwear</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Maternity wear</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Watches & Accessories</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Undergarments & Loungewear</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Jewelry & Organizers</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="input-group w-100">
                    <div class="navbar-nav col position-relative category-menu">
                        <div class="nav-item h-100 d-flex align-items-center">
                            <a class="nav-link ps-3 stretched-link" href="">Furniture & Home Living</a>
                        </div>
                    </div>
                    <h2 class="accordion-header col-auto" id="flush-headingFive">
                        <button class="accordion-button collapsed category-menu cat-btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        </button>
                    </h2>
                </div>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body p-0 ps-3 pb-1 pt-1">
                        <div class="navbar-nav col">
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Furniture</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Outdoor Furniture</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Office Furniture & Fixtures</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Lighting & Fans</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Home Decor</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Home Fragrance</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Bedding & Towels</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Bathroom & Kitchen Fixtures</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Cleaning & Homecare Supplies</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Kitchenware & Tableware</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Security & Locks</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Gardening</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="">Home Improvement & Organization</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>