<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExample">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExample">All Categories (Not Working)</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="input-group mb-3">
            <span class="input-group-text bg-white border-info border-end-0" id="search"><i class="fa fa-search" style="color: #aaa;"></i></span>
            <input type="text" class="form-control shadow-none ps-0 border-info border-start-0" placeholder="Search categories..." aria-label="Username" aria-describedby="basic-addon1" style="text-align: left;">
        </div>
        <div class="accordion accordion-flush mt-3" id="accordionFlushExample">
            <div class="accordion-item">
                <div class="input-group w-100">
                    <div class="navbar-nav col position-relative category-menu">
                        <div class="nav-item h-100 d-flex align-items-center">
                            <a class="nav-link ps-3 stretched-link" href="#">Mobile Phones & Gadgets</a>
                        </div>
                    </div>
                    <h2 class="accordion-header col-auto" id="flush-headingOne">
                        <button class="accordion-button collapsed category-menu cat-btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" id="test">
                        </button>
                    </h2>
                </div>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body p-0 ps-3 pb-1 pt-1">
                        <div class="navbar-nav col">
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Mobile Phones</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Tablets</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Wearables & Smart Watches</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Mobile & Gadget Accessories</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Electronic Cigarettes</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Other Gadgets</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="input-group w-100">
                    <div class="navbar-nav col position-relative category-menu">
                        <div class="nav-item h-100 d-flex align-items-center">
                            <a class="nav-link ps-3 stretched-link" href="#">Computers & Tech</a>
                        </div>
                    </div>
                    <h2 class="accordion-header col-auto" id="flush-headingTwo">
                        <button class="accordion-button collapsed category-menu cat-btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        </button>
                    </h2>
                </div>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body p-0 ps-3 pb-1 pt-1">
                        <div class="navbar-nav col">
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Desktops</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Laptops & Notebooks</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Parts & Accessories</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Printers, Scanners & Copiers</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Office & Business Technology</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="input-group w-100">
                    <div class="navbar-nav col position-relative category-menu">
                        <div class="nav-item h-100 d-flex align-items-center">
                            <a class="nav-link ps-3 stretched-link" href="#">Men's Fashion</a>
                        </div>
                    </div>
                    <h2 class="accordion-header col-auto" id="flush-headingThree">
                        <button class="accordion-button collapsed category-menu cat-btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        </button>
                    </h2>
                </div>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body p-0 ps-3 pb-1 pt-1">
                        <div class="navbar-nav col">
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Activewear</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Tops & Sets</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Bottoms</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Footwear</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Coats, Jackets and Outerwear</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Bags</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Watches & Accessories</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="input-group w-100">
                    <div class="navbar-nav col position-relative category-menu">
                        <div class="nav-item h-100 d-flex align-items-center">
                            <a class="nav-link ps-3 stretched-link" href="#">Women's Fashion</a>
                        </div>
                    </div>
                    <h2 class="accordion-header col-auto" id="flush-headingFour">
                        <button class="accordion-button collapsed category-menu cat-btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        </button>
                    </h2>
                </div>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body p-0 ps-3 pb-1 pt-1">
                        <div class="navbar-nav col">
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Activewear</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Tops</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Bottoms</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Dresses & Sets</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Footwear</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Coats, Jackets and Outerwear</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Bags & Wallets</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Swimwear</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Maternity wear</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Watches & Accessories</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Undergarments & Loungewear</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Jewelry & Organizers</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="input-group w-100">
                    <div class="navbar-nav col position-relative category-menu">
                        <div class="nav-item h-100 d-flex align-items-center">
                            <a class="nav-link ps-3 stretched-link" href="#">Furniture & Home Living</a>
                        </div>
                    </div>
                    <h2 class="accordion-header col-auto" id="flush-headingFive">
                        <button class="accordion-button collapsed category-menu cat-btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        </button>
                    </h2>
                </div>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body p-0 ps-3 pb-1 pt-1">
                        <div class="navbar-nav col">
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Furniture</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Outdoor Furniture</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Office Furniture & Fixtures</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Lighting & Fans</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Home Decor</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Home Fragrance</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Bedding & Towels</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Bathroom & Kitchen Fixtures</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Cleaning & Homecare Supplies</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Kitchenware & Tableware</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Security & Locks</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Gardening</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Home Improvement & Organization</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="input-group w-100">
                    <div class="navbar-nav col position-relative category-menu">
                        <div class="nav-item h-100 d-flex align-items-center">
                            <a class="nav-link ps-3 stretched-link" href="#">Video Gaming</a>
                        </div>
                    </div>
                    <h2 class="accordion-header col-auto" id="flush-headingSix">
                        <button class="accordion-button collapsed category-menu cat-btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                        </button>
                    </h2>
                </div>
                <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body p-0 ps-3 pb-1 pt-1">
                        <div class="navbar-nav col">
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Video Game Consoles</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Video Games</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Gaming Accessories</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="input-group w-100">
                    <div class="navbar-nav col position-relative category-menu">
                        <div class="nav-item h-100 d-flex align-items-center">
                            <a class="nav-link ps-3 stretched-link" href="#">Audio</a>
                        </div>
                    </div>
                    <h2 class="accordion-header col-auto" id="flush-headingSeven">
                        <button class="accordion-button collapsed category-menu cat-btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                        </button>
                    </h2>
                </div>
                <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body p-0 ps-3 pb-1 pt-1">
                        <div class="navbar-nav col">
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Earphones</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Headphones & Headsets</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Microphones</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Voice Recorders</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Portable Music Players</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Portable Audio Accessories</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Soundbars,Speakers & Amplifiers</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Other Audio Equipment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="input-group w-100">
                    <div class="navbar-nav col position-relative category-menu">
                        <div class="nav-item h-100 d-flex align-items-center">
                            <a class="nav-link ps-3 stretched-link" href="#">Photography</a>
                        </div>
                    </div>
                    <h2 class="accordion-header col-auto" id="flush-headingEight">
                        <button class="accordion-button collapsed category-menu cat-btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                        </button>
                    </h2>
                </div>
                <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body p-0 ps-3 pb-1 pt-1">
                        <div class="navbar-nav col">
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Cameras</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Lens & Kits</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Drones</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Voice Cameras</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Photography Accessories</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="input-group w-100">
                    <div class="navbar-nav col position-relative category-menu">
                        <div class="nav-item h-100 d-flex align-items-center">
                            <a class="nav-link ps-3 stretched-link" href="#">TV & Home Appliances</a>
                        </div>
                    </div>
                    <h2 class="accordion-header col-auto" id="flush-headingNine">
                        <button class="accordion-button collapsed category-menu cat-btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                        </button>
                    </h2>
                </div>
                <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body p-0 ps-3 pb-1 pt-1">
                        <div class="navbar-nav col">
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">TV & Entertainment</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Kitchen Appliances</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Air Conditioning and Heating</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Washing Machines and Dryers</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Vacuum Cleaner & Housekeeping</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Water Heater & Instant Showers</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Air Purifiers & Dehumidifiers</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Electrical, Adaptors & Sockets</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Irons & Steamers</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Other Home Appliances</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="input-group w-100">
                    <div class="navbar-nav col position-relative category-menu">
                        <div class="nav-item h-100 d-flex align-items-center">
                            <a class="nav-link ps-3 stretched-link" href="#">Luxury</a>
                        </div>
                    </div>
                    <h2 class="accordion-header col-auto" id="flush-headingTen">
                        <button class="accordion-button collapsed category-menu cat-btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
                        </button>
                    </h2>
                </div>
                <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body p-0 ps-3 pb-1 pt-1">
                        <div class="navbar-nav col">
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Bags & Wallets</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Apparel</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Accessories</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Watches</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Sneakers & Footwear</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="input-group w-100">
                    <div class="navbar-nav col position-relative category-menu">
                        <div class="nav-item h-100 d-flex align-items-center">
                            <a class="nav-link ps-3 stretched-link" href="#">Babies & Kids</a>
                        </div>
                    </div>
                    <h2 class="accordion-header col-auto" id="flush-headingEleven">
                        <button class="accordion-button collapsed category-menu cat-btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
                        </button>
                    </h2>
                </div>
                <div id="flush-collapseEleven" class="accordion-collapse collapse" aria-labelledby="flush-headingEleven" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body p-0 ps-3 pb-1 pt-1">
                        <div class="navbar-nav col">
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Babies & Kids Fashion</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Baby Nursery & Kids Furniture</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Going Out</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Bathing & Changing</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Baby Monitors</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Maternity Care</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Infant Playtime</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="input-group w-100">
                    <div class="navbar-nav col position-relative category-menu">
                        <div class="nav-item h-100 d-flex align-items-center">
                            <a class="nav-link ps-3 stretched-link" href="#">Hobbies & Toys</a>
                        </div>
                    </div>
                    <h2 class="accordion-header col-auto" id="flush-headingTwelve">
                        <button class="accordion-button collapsed category-menu cat-btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwelve" aria-expanded="false" aria-controls="flush-collapseTwelve">
                        </button>
                    </h2>
                </div>
                <div id="flush-collapseTwelve" class="accordion-collapse collapse" aria-labelledby="flush-headingTwelve" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body p-0 ps-3 pb-1 pt-1">
                        <div class="navbar-nav col">
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Toys & Games</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Music & Media</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Book & Magazines</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Stationary & Craft</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Momorabilia & Collectibles</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Travel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="input-group w-100">
                    <div class="navbar-nav col position-relative category-menu">
                        <div class="nav-item h-100 d-flex align-items-center">
                            <a class="nav-link ps-3 stretched-link" href="#">Beauty & Personal Care</a>
                        </div>
                    </div>
                    <h2 class="accordion-header col-auto" id="flush-headingThirteen">
                        <button class="accordion-button collapsed category-menu cat-btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThirteen" aria-expanded="false" aria-controls="flush-collapseThirteen">
                        </button>
                    </h2>
                </div>
                <div id="flush-collapseThirteen" class="accordion-collapse collapse" aria-labelledby="flush-headingThirteen" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body p-0 ps-3 pb-1 pt-1">
                        <div class="navbar-nav col">
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Sanitizers & Disinfectants</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Hands & Nails</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Bath & Body</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Face</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Hair</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Ear Care</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Vision Care</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Foot Care</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Oral Care</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Sanitary Hygiene</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Men's Grooming</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Fragrance & Deodorants</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="input-group w-100">
                    <div class="navbar-nav col position-relative category-menu">
                        <div class="nav-item h-100 d-flex align-items-center">
                            <a class="nav-link ps-3 stretched-link" href="#">Health & Nutrition</a>
                        </div>
                    </div>
                    <h2 class="accordion-header col-auto" id="flush-headingFourteen">
                        <button class="accordion-button collapsed category-menu cat-btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFourteen" aria-expanded="false" aria-controls="flush-collapseFourteen">
                        </button>
                    </h2>
                </div>
                <div id="flush-collapseFourteen" class="accordion-collapse collapse" aria-labelledby="flush-headingFourteen" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body p-0 ps-3 pb-1 pt-1">
                        <div class="navbar-nav col">
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Insect Repellents</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Family Planning</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Massage Devices</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Assistive & Rehabilatory Aids</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Face Mask & Face Shields</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Thermometers</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Medical Supplies & Tools</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Health Supplements</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Braces,Support & Proection</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Heath Monitors & Weighing Scales</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="input-group w-100">
                    <div class="navbar-nav col position-relative category-menu">
                        <div class="nav-item h-100 d-flex align-items-center">
                            <a class="nav-link ps-3 stretched-link" href="#">Sports Equipment</a>
                        </div>
                    </div>
                    <h2 class="accordion-header col-auto" id="flush-headingFifthteen">
                        <button class="accordion-button collapsed category-menu cat-btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFifthteen" aria-expanded="false" aria-controls="flush-collapseFifthteen">
                        </button>
                    </h2>
                </div>
                <div id="flush-collapseFifthteen" class="accordion-collapse collapse" aria-labelledby="flush-headingFifthteen" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body p-0 ps-3 pb-1 pt-1">
                        <div class="navbar-nav col">
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Sports & Games</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Exercise & Fitness</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">bicycles & Parts</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Fishing</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Hiking & Camping</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Other Sports Equipment and Supplies</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <div class="input-group w-100">
                    <div class="navbar-nav col position-relative category-menu">
                        <div class="nav-item h-100 d-flex align-items-center">
                            <a class="nav-link ps-3 stretched-link" href="#">Pet Supplies</a>
                        </div>
                    </div>
                    <h2 class="accordion-header col-auto" id="flush-headingSixteen">
                        <button class="accordion-button collapsed category-menu cat-btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSixteen" aria-expanded="false" aria-controls="flush-collapseSixteen">
                        </button>
                    </h2>
                </div>
                <div id="flush-collapseSixteen" class="accordion-collapse collapse" aria-labelledby="flush-headingSixteen" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body p-0 ps-3 pb-1 pt-1">
                        <div class="navbar-nav col">
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Pet Food</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Homes & Other Pet Accessories</a>
                            </div>
                            <div class="nav-item w-100 d-flex align-items-center category-menu">
                                <a class="nav-link m-0 p-2 w-100" href="#">Heath & Grooming</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>