<%- include('./partials/head.ejs') %>
<%- include('./partials/nav.ejs') %>
<div class="container-fluid shadow fixed-top notzindex" style="margin-top: 57px;">
    <div class="container-lg d-flex justify-content-between py-2 bg-white">
        <h4>What are you listing today?</h4>
        <button class="btn btn-info">&nbsp;List Now&nbsp;</button>
    </div>
</div>
<div class="container-lg d-flex gap-4 align-items-start mb-5" style="margin-top: 72px;">
    <div class="col-5 shadow rounded rounded-3 p-4">
        <label for="imglink" class="form-label">Image link:</label>
        <div class="input-group mb-3">
            <div class="input-group-text" id="imglink">
                <input class="form-check-input mt-0" type="radio" value="opt1" name="upload" onclick="uploadOption(this.value)" checked>
            </div>
            <span class="input-group-text" id="inputGroup-sizing-default">URL:</span>
            <input type="text" class="form-control" id="formText" aria-describedby="inputGroup-sizing-default" oninput="loadImg(this.value)">
        </div>
        <label for="imgupload" class="form-label">or Image upload:</label>
        <div class="input-group mb-4">
            <div class="input-group-text" id="imgupload">
                <input class="form-check-input mt-0" type="radio" value="opt2" name="upload" onclick="uploadOption(this.value)">
            </div>
            <input class="form-control" type="file" id="formFile" accept="image/jpeg, image/png, image/jpg" onchange="testFunc(this.files)" disabled>
        </div>
        <label for="preview" class="form-label">Image Preview:</label>
        <div class="col border" style="height: 250px; width: 250px;">
            <img id="preview" src="" alt="" class="w-100 h-100 d-none" onload="isLoading()">
            <div class="d-flex h-100 justify-content-center align-items-center d-none" id="spinner">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col shadow rounded rounded-3 p-4">
        <!-- <a class="btn btn-primary" href="/user/upload">upload test</a> -->
        <div class="btn-group w-100 mb-4 category-menu">
            <button type="button" class="btn-align btn btn-white border-info col-11 py-2 border-end-0" data-bs-toggle="dropdown">Select a category</button>
            <button type="button" class="btn btn-white border-info dropdown-toggle dropdown-toggle-split col-1 py-2 border-start-0" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu scrollable-menu w-100 pt-0" role="menu">
                <div class="form-group has-search my-1">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control rounded-0 py-2 border-0 border-bottom cat-btn" placeholder="Search Categories...">
                </div>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header w-100" id="flush-headingOne">
                            <button class="accordion-button collapsed category-menu cat-btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Mobile Phones & Gadgets
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body p-0 ps-3 pb-1 pt-1">
                                <div class="navbar-nav col">
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Mobile Phones</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Tablets</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Wearables & Smart Watches</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Mobile & Gadget Accessories</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Electronic Cigarettes</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Other Gadgets</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header w-100" id="flush-headingTwo">
                            <button class="accordion-button collapsed category-menu cat-btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Computers & Tech
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body p-0 ps-3 pb-1 pt-1">
                                <div class="navbar-nav col">
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Desktops</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Laptops & Notebooks</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Parts & Accessories</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Printers, Scanners & Copiers</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Office & Business Technology</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header w-100" id="flush-headingThree">
                            <button class="accordion-button collapsed category-menu cat-btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Men's Fashion
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body p-0 ps-3 pb-1 pt-1">
                                <div class="navbar-nav col">
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Activewear</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Tops & Sets</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Bottoms</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Footwear</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Coats, Jackets and Outerwear</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Bags</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Watches & Accessories</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header w-100" id="flush-headingFour">
                            <button class="accordion-button collapsed category-menu cat-btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                Women's Fashion
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body p-0 ps-3 pb-1 pt-1">
                                <div class="navbar-nav col">
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Activewear</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Tops</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Bottoms</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Dresses & Sets</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Footwear</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Coats, Jackets and Outerwear</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Bags & Wallets</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Swimwear</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Maternity wear</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Watches & Accessories</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Undergarments & Loungewear</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Jewelry & Organizers</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header w-100" id="flush-headingFive">
                            <button class="accordion-button collapsed category-menu cat-btn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                Furniture & Home Living
                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body p-0 ps-3 pb-1 pt-1">
                                <div class="navbar-nav col">
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Furniture</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Outdoor Furniture</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Office Furniture & Fixtures</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Lighting & Fans</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Home Decor</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Home Fragrance</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Bedding & Towels</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Bathroom & Kitchen Fixtures</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Cleaning & Homecare Supplies</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Kitchenware & Tableware</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Security & Locks</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Gardening</a>
                                    </div>
                                    <div class="nav-item w-100 d-flex align-items-center category-menu">
                                        <a class="nav-link m-0 p-2 w-100" href="">Home Improvement & Organization</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
        <div class="form-floating mb-4">
            <input type="email" class="form-control" id="floatingInput" placeholder="Name your listing">
            <label for="floatingInput">Listing Title</label>
        </div>
        <h4 class="ps-1 mb-3">Item Details</h4>
        <p class="ps-1">Condition</p>
        <div class="mb-4">
            <input type="radio" class="btn-check" name="options-outlined" id="brandnew" autocomplete="off" checked>
            <label class="btn btn-outline-info rounded-pill text-dark me-3" for="brandnew">Brand new</label>

            <input type="radio" class="btn-check" name="options-outlined" id="likenew" autocomplete="off">
            <label class="btn btn-outline-info rounded-pill text-dark me-3" for="likenew">&nbsp;Like new&nbsp;</label>

            <input type="radio" class="btn-check" name="options-outlined" id="lightuse" autocomplete="off">
            <label class="btn btn-outline-info rounded-pill text-dark me-3" for="lightuse">Lightly used</label>
            
            <input type="radio" class="btn-check" name="options-outlined" id="welluse" autocomplete="off">
            <label class="btn btn-outline-info rounded-pill text-dark me-3" for="welluse">&nbsp;Well used&nbsp;</label>

            <input type="radio" class="btn-check" name="options-outlined" id="heavyuse" autocomplete="off">
            <label class="btn btn-outline-info rounded-pill text-dark me-3" for="heavyuse">Heavily used</label>
        </div>
        <p class="ps-1">Price</p>
        <div class="input-group mb-4">
            <span class="input-group-text">PHP</span>
            <input type="number" class="form-control">
        </div>
        <p class="ps-1">Description</p>
        <textarea class="form-control  mb-4" id="description" rows="3" placeholder="Describe what you are selling and include any details a buyer might be interested in. People love items with stories!"></textarea>
        <div class="form-floating mb-4">
            <input type="text" class="form-control" id="brand" placeholder="Name your listing">
            <label for="brand">Brand</label>
        </div>
        <h4 class="ps-1 mb-3">Optional Details</h4>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="isMoreThanOne">
            <label class="form-check-label" for="isMoreThanOne">I have more than one of the same item</label>
            <p class="fw-light">Check this box if you have more than one of this item</p>
        </div>
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="allowSms">
            <label class="form-check-label" for="allowSms">
            Allow buyers to SMS/Call me on this listing</label>
            <p class="fw-light">Turning this on means that your mobile number will be public to buyers, who can then reach out directly to you.</p>
        </div>
        <h4 class="ps-1 pt-1 mb-3">Deal Method</h4>
        <p class="ps-1">Together we can do our part to stop the spread of COVID-19. Choose contactless delivery as much as possible.</p>
        <div class="form-check form-switch mb-2">
            <input class="form-check-input" type="checkbox" role="switch" id="meetup" onclick="isMeetup()">
            <label class="form-check-label" for="meetup">Meetup</label>
        </div>
        <textarea class="form-control mb-3 d-none" id="meetupInfo" rows="3" placeholder="Add location, address, item and other information"></textarea>
        <div class="form-check form-switch mb-2">
            <input class="form-check-input" type="checkbox" role="switch" id="deliver" onclick="isDeliver()">
            <label class="form-check-label" for="deliver">
                Mailing & Delivery</label>
        </div>
        <textarea class="form-control mb-4 d-none" id="deliverInfo" rows="3" placeholder="Are there additional mailing or delivery fees and options?"></textarea>
        <button class="btn btn-info float-end">&nbsp;List Now&nbsp;</button>
    </div>
</div>
<script src="/js/script.js"></script>
<%- include('./partials/categories.ejs') %>
<%- include('./partials/foot.ejs') %>