@font-face {font-family: "Acropolis"; 
    src: url("//db.onlinewebfonts.com/t/384df45698f8cbb862dc440ae4d27d26.eot"); 
    src: url("//db.onlinewebfonts.com/t/384df45698f8cbb862dc440ae4d27d26.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/384df45698f8cbb862dc440ae4d27d26.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/384df45698f8cbb862dc440ae4d27d26.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/384df45698f8cbb862dc440ae4d27d26.ttf") format("truetype"), 
    url("//db.onlinewebfonts.com/t/384df45698f8cbb862dc440ae4d27d26.svg#Acropolis") format("svg"); }

.brand-logo {
    font-family: "Acropolis";
}

.banner {
    background-image: url("/img/hero-banner.jpg");
    height: 480px;
    font-family: "Garamond";
    border-radius: 25px;
}
    .banner a {
        width: 150px;
    }

.category-card {
    /* width: 251px;
    height: 251px; */
    width: 100%;
}

.px3, .ps3{
    padding-left: 0px;
    padding-right: 0px;
}

.pxx3 {
    padding: 0 12px;
}

.pl3 {
    padding-left: 12px;
}

.pr3 {
    padding: 0px 12px 0px 0px;
}

.pfp {
    padding: 0 24px;
}

.sm-margin {
    margin-top: 0px;
    margin-left: 8px;
}

.nav-menu {
    color: black;
}

.nav-menu:hover {
    color: white;
    /* background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%); */
    background: linear-gradient(to top, rgb(9, 32, 63) 0%, rgb(83, 120, 149) 100%);
}

.has-search .form-control {
    padding-left: 2.8rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 20px;
    height: 20px;
    padding-left: 16px;
    padding-top: 9px;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.category-menu:hover {
    background-color: #f0f1f1;
}

.cat-btn:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
}

.scrollable-menu {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

.zindex {
    z-index: 100;
}

.notzindex {
    z-index: 1;
}

footer {
    margin-top: 100px;
    height: calc(30vh);
    background-color: #ccc;
    padding-top: 30px;
}

footer p{
    font-size: small;
    margin: 0;
}

img.d-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: 0 auto;
}

.error-page{

    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    /* box-shadow: 0px 5px 10px rgba(0,0,0,0.1); */
}
.content img {
    height: 70%;
    width: 70%;
}
.error-page .content{
    max-width: 600px;
    text-align: center;
    padding: 0px, 50px, 50px, 50px;
}
.content h2{
    font-size: 18vw;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #000;
    max-width: 600px;
    font-size: 2em;
}
.content p{
    margin: 20px;
    font-size: 1.2em;
    color: #0d0d0d;
}
.content .btns{
    margin: 20px, 50px, 50px, 50px;
    display: inline-flex;
}
.content .btns a{
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    border: 2px solid #69a6ce;
    color: #69a6ce;
    font-weight: 500;
    padding: 10px 25px;
    transition: all 0.3s ease;
}
.content .btns a:hover{
    color: #fff;
    background: #69a6ce;
}

.hidden-input {
    width: 1px;
    height: 1px;
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    box-shadow: none;
}

.hidden-input:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
}

@media only screen and (max-width: 991px) {
    .banner {
        border-radius: 0px;
    }
    .px3 {
        padding-left: 12px;
        padding-right: 12px;
    }
    .ps3 {
        padding-left: 12px;
    }
    .sm-margin {
        margin-top: 8px;
        margin-left: 0px;
    }
}

@media only screen and (min-width: 736px) {
    .hero-title {
        font-size: 50px;
        backdrop-filter: blur(10px);
    }
    .hero-slogan {
        font-size: 40px;
        backdrop-filter: blur(10px);
    }
}

@media only screen and (min-width: 600px) and (max-width: 736px) {
    .hero-title {
        font-size: 40px;
        backdrop-filter: blur(10px);
    }
    .hero-slogan {
        font-size: 30px;
        backdrop-filter: blur(10px);
    }
}

@media only screen and (min-width: 450px) and (max-width: 600px) {
    .hero-title {
        font-size: 30px;
        backdrop-filter: blur(10px);
    }
    .hero-slogan {
        font-size: 20px;
        backdrop-filter: blur(10px);
    }
}

@media only screen and (min-width: 380px) and (max-width: 450px) {
    .hero-title {
        font-size: 25px;
        backdrop-filter: blur(10px);
    }
    .hero-slogan {
        font-size: 20px;
        backdrop-filter: blur(10px);
    }
}

@media only screen and (min-width: 310px) and (max-width: 380px) {
    .hero-title {
        font-size: 20px;
        backdrop-filter: blur(10px);
    }
    .hero-slogan {
        font-size: 16px;
        backdrop-filter: blur(10px);
    }
}

@media only screen and (max-width: 400px) {
    .banner {
        height: 350px;
    }
    .listings {
        margin-left: -24px !important;
        margin-right: -24px !important;
    }
}